version: '3.8'

services:
    # Service Database (MySQL/MariaDB)
    mysql:
        image: bitnami/mariadb:latest
        container_name: aksamedia_mysql
        ports:
            - '3306:3306'
        environment:
            - ALLOW_EMPTY_PASSWORD=yes
            - MARIADB_ROOT_PASSWORD=root
            - MARIADB_DATABASE=aksamedia
        volumes:
            - mysql_data:/bitnami/mariadb
        networks:
            - aksamedia_network

    # Service Redis
    redis:
        image: bitnami/redis:latest
        container_name: aksamedia_redis
        ports:
            - '6379:6379'
        environment:
            - ALLOW_EMPTY_PASSWORD=yes
        networks:
            - aksamedia_network

    # Service PhpMyAdmin
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: aksamedia_pma
        ports:
            - '8081:80'
        environment:
            - PMA_HOST=mysql
            - PMA_USER=root
            - PMA_PASSWORD=root
        depends_on:
            - mysql
        networks:
            - aksamedia_network

networks:
    aksamedia_network:
        driver: bridge

volumes:
    mysql_data:
        driver: local
